.container-beneficios {
  padding: 3.75rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.beneficios-text {
  max-width: 585px;
}

.beneficios-title {
  font-size: 2.125rem;
  font-weight: 800;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.beneficos-paragrafo {
  font-size: 1rem;
  color: var(--color-black);
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 2.375rem;
}

.benefios-items {
  display: flex;
  justify-content: center;
}

.beneficios-lista {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.lista-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.imgbox {
  position: relative;
  width: 76px;
  height: 76px;
}

.imgbox img {
  position: relative;
  z-index: 1;
}

.imgbox span {
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.liste-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-black);
  margin: 0.625rem 0;
}

.lista-paragrafo {
  font-size: 1rem;
  color: var(--color-black);
  line-height: 28px;
  margin-bottom: 5rem;
}

@media screen and (min-width: 876px) {
  .container-beneficios {
    padding: 7.5rem 5.5rem 0 5.5rem;
  }

  .beneficios-text {
    max-width: 1000px;
  }

  .beneficios-title {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }

  .beneficos-paragrafo {
    font-size: 1.5rem;
    line-height: 40px;
    margin-bottom: 6rem;
  }

  .beneficios-lista {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7.25rem;
  }

  .beneficios-lista .lista-item:nth-child(odd) {
    justify-self: end;
    max-width: 60%;
  }

  .beneficios-lista .lista-item:nth-child(even) {
    justify-self: start;
    max-width: 60%;
  }

  .liste-title {
    font-size: 1.6rem;
  }

  .lista-paragrafo {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1279px) {
  .beneficios-lista {
    grid-template-columns: repeat(3, 1fr);
  }

  .beneficios-lista .lista-item:nth-child(odd) {
    justify-self: center;
    max-width: 90%;
  }

  .beneficios-lista .lista-item:nth-child(even) {
    justify-self: center;
    max-width: 90%;
  }
}
