.cabecalho {
  background: url(../images/Rectangle\ 1.png) center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  padding: 1.875rem 1.25rem;
}

.cabecalho_menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.125rem;
}

.cabecalho_menu-mobile i {
  font-size: 2rem;
  cursor: pointer;
}

.cabecalho_flex {
  display: flex;
  justify-content: center;
}

.cabecalho_text {
  text-align: center;
  max-width: 585px;
}

.cabecalho_title {
  width: 100%;
  font-size: 2.625rem;
  color: var(--color-);
  font-weight: 800;
  line-height: 57.5px;
  margin-bottom: 1.875rem;
}

.cabecalho_paragrafo {
  width: 100%;
  font-size: 1rem;
  line-height: 23px;
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 3.5rem;
}

.cabecalho_formulario {
  position: relative;
  max-width: 335px;
  margin: 0 auto;
}

.cabecalho-email {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 8px;
}

.btn_email {
  position: absolute;
  right: 5px;
  top: 5px;
}

.navigation_lista {
  display: none;
}

@media screen and (min-width: 876px) {
  .cabecalho {
    padding: 2.188rem 5.25rem;
  }

  .cabecalho_menu {
    margin-bottom: 5.375rem;
  }

  .cabecalho_menu-mobile i {
    display: none;
  }

  .navigation_lista {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .navigation_lista a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 700;
    font-size: 1rem;
  }

  .cabecalho_flex {
    display: flex;
    justify-content: flex-start;
  }

  .cabecalho_text {
    max-width: 60%;
    text-align: left;
  }

  .cabecalho_title {
    font-size: 3.5rem;
    line-height: 73px;
  }

  .cabecalho_formulario {
    position: relative;
    max-width: 442px;
    margin: 0;
  }

  .cabecalho-email {
    padding: 1.188rem;
  }

  .btn_email {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

@media screen and (min-width: 1279px) {
  .cabecalho {
    padding: 2.188rem 7.625rem;
  }

  .cabecalho_menu {
    margin-bottom: 6.5rem;
  }

  .cabecalho_text {
    max-width: 70%;
  }

  .cabecalho_title {
    font-size: 4rem;
    line-height: 82px;
  }

  .cabecalho_paragrafo {
    font-size: 1.25rem;
    line-height: 36px;
  }

  .cabecalho_formulario {
    position: relative;
    max-width: 502px;
  }

  .cabecalho-email {
    padding: 1.5rem;
  }

  .btn_email {
    right: 12px;
    top: 12px;
  }
}
