.cabecalho {
  background: url(../images/Rectangle\ 1.png) center / cover no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  height: 80vh;
  padding: 1.875rem 1.25rem;
}

.cabecalho_menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.75rem;
}

.cabecalho_menu-mobile i {
  font-size: 2rem;
  cursor: pointer;
}

.cabecalho_text {
  text-align: center;
}

.cabecalho_title {
  font-size: 2.625rem;
  color: var(--color-);
  font-weight: 800;
  line-height: 57.5px;
  margin-bottom: 1.875rem;
}

.cabecalho_paragrafo {
  font-size: 0.875rem;
  line-height: 23px;
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 3.5rem;
}
