:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-grayish: #f4f5f7;
  --color-red: #f84646;
  --color-title: #2e2e2e;
  --color-paragraph: #808080;
  --color-texto: #e6e6e6;
  --color-btn-hover: #fa6a6a;
  --color-pink: #ff5391;
  --color-purple: #7553ff;
  --color-blue: #53acff;
  --color-amarelo: #ffba53;

  --font-Manrope: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-Manrope);
}
